{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-tabs": 0,
    "indent": [2, "tab"],
    "no-unused-vars": "off",
    "space-before-function-paren": "off",
    "require-jsdoc": "off"
  },
  "extends": "google"
}
