$default: #888;
$dark: #333;

$borderColor: rgb(68, 68, 68);
$primaryColor: #3c74ff;

$headerHeight: 34px;
$toolbarHeight: 48px;
$formulaHeight: 30px;
$dbHeaderHeight: 64px;

$rowHeight: 24px;

$infoCellWith: 40px;
$cellWidth: 120px;
