.exel-header {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	left: 0;
	top: 0;
	right: 0;
	height: $headerHeight;
	color: #000;
	&__input {
		height: $headerHeight - 5px;
	}
}
